body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--c-primary);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  margin-right: 50px;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list__item:not(:last-child) {
  margin-right: 40px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
}

.header-logo {
  color: var(--c-black);
}

.header-logo span {
  color: var(--c-blue);
}

.nav-list__link {
  color: var(--c-primary);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--c-blue);
}

.header-contacts__link {
  color: var(--c-primary);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--c-blue);
}

.footer {
  background-color: var(--c-bg);
}

.footer-list__link {
  color: var(--c-footer);
}

.footer-list__link:hover,
.footer-list__link:focus {
  color: var(--c-blue);
}

.footer-logo {
  color: var(--c-white);
}

.footer-logo span {
  color: var(--c-blue);
}

.footer-logo {
  padding-top: 60px;
}

.footer-list {
  margin-top: 20px;
}

.footer-list__item:not(:first-child) {
  margin-top: 9px;
}
