.buttons-list__button:hover,
.buttons-list__button:focus {
  background-color: var(--c-blue);
  color: var(--c-white);
  cursor: pointer;
}

.portfolio-list__item {
  background-color: var(--c-portfolio);
}

.portfolio-list__title {
  color: var(--c-primary);
}

.portfolio-list__text {
  color: var(--c-secondary);
}
