.hero {
  background-color: var(--c-bg);
}

.hero-title {
  color: var(--c-white);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--c-blue);
  color: var(--c-white);
  cursor: pointer;
}

.advantages-list__title {
  color: var(--c-primary);
}

.advantages-list__text {
  color: var(--c-secondary);
}

.benefits-title {
  color: var(--c-primary);
}

.team {
  background-color: var(--c-section);
}

.team-title {
  color: var(--c-primary);
}

.team-list__item {
  background-color: var(--c-white);
}

.team-list__title {
  color: var(--c-primary);
}

.team-list__text {
  color: var(--c-secondary);
}
